:root {
    --primary-color: whitesmoke;
    --secondary-color: rgb(137, 19, 216);
    --active-text-color: black;

    --highlight-time: 0.5s;
    --highlight-time-scale: 0.3s;
}

[data-theme="dark"]{
    --primary-color: rgb(17, 16, 19);
    --active-text-color: whitesmoke;
}

body{
    background-color: var(--primary-color);
    color: var(--active-text-color);
    margin: 0%;

    transition: background-color var(--highlight-time) ease, color var(--highlight-time) ease;
}

p{
    font-size: large;
}

header {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    height: auto;
}

section{
    margin: 20px;
}

.fixed-bar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--primary-color);

    transition: background-color var(--highlight-time) ease;
}

.fixed-bar button {
    font-size: large;
    color: var(--active-text-color);
    background-color: transparent;
    border: none;
    
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    
    transition: color var(--highlight-time) ease;
}

.fixed-bar button:hover {
    color: var(--secondary-color);
}

.fixed-bar button.active {
    text-decoration: underline;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    height: 300px;
    margin-left: auto;

}

.profile-pic {
    background-color: var(--active-text-color);
    padding: 6px;
    border-radius: 50%;
    margin: 20px;

    will-change: transform;
    transition: background-color var(--highlight-time) ease, transform var(--highlight-time-scale) ease;
}

.profile-pic:hover{
    background-color: var(--secondary-color);
    transform: scale(1.15);
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 20px;
}


/* Phone styling */
@media (max-width: 599px) {
    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .profile-container {
        display: flex;
        justify-content: center;
        width: 10%;
        height: 50vh;
        margin: auto;
    }

    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
}